<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a3a8254123.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/Styles/stylesheet.css}" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">The Lot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carRepository}">Cars<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div th:each="category: ${categories}">
                        <a class="dropdown-item" th:href="@{/categoryList/{id}(id=${category.id})}" th:text="${category.name}"></a>
                    </div>
                    <a class="dropdown-item" th:href="@{/newCategory}"><i class="fas fa-plus"></i>Add Category</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-8">
        <h3>[[${category.name}]]</h3>
        <a th:href="@{/update/{id}(id=${category.id})}">Update</a> |
        <a th:href="@{/remove/{id}(id=${category.id})}">Remove</a>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody th:each="car: ${category.cars}">
            <tr>
                <td>[[${car.make}]]</td>
                <td>[[${car.model}]]</td>
                <td>[[${car.year}]]</td>
                <td>

                        <a th:href="@{/update/{id}(id=${car.id})}">Update</a> |
                        <a th:href="@{/remove/{id}(id=${car.id})}">Remove</a>

                </td>

            </tr>

            </tbody>
        </table>
    </div>
    <div class="col-sm"></div>
</div>










<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>